.element__delete{
    position: absolute;
    top:18px;
    right: 15px;
    background-image: url(../../../images/icons/bucket.svg);
    background-color: rgb(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    border: none;
    outline: none;
    width: 18px;
    height: 19.3px;
}
.element__delete:hover{
    opacity:0.5;
    cursor: pointer;
}