.popup__error_visible{

    margin-bottom: 13px;
}
.popup__error_visible:last-of-type{
    margin-bottom: 31px;
}
@media screen and (max-width: 880px){
    .popup__error_visible:last-of-type{
        margin-bottom: 42px;
    }
}