.popup__name{ 
    height: 27px;
    outline:none;
    width: 358px;
    margin: auto;
    border:none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
}
@media screen and (max-width: 880px){
    .popup__name{
        width: 238px;
    }
}