.profile__editt-botton{
    background-image: url(../../../images/icons/Edit-Button.svg);
    border: 1px solid #FFFFFF;
    background-color:black;
    margin-left:18px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 24px;
    height: 24px;
}
.profile__editt-botton:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .profile__editt-botton{
        min-width: 18px;
        height: 18px;
        margin-left:10px;
    }
}